<form id="commandeditForm" ng-submit="Updatecommand(currentUser)" hidden>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading" align="center">
        <font face="" color="#6C7A89" size="6">
          Update command
        </font>
      </div>
      <div class="panel-body" align="center">
        <!--<h3 class="text-center">Update command Into Database</h3>-->
        <div class="jumbotron">
          <div class="form-group">
            <label for="department">department:</label>
            <input type="text" name="department" class="form-control width100" placeholder="department " ng-model="currentUser.department" value=" " />
          </div>
          <div class="form-group">
            <label for="room">room:</label>
            <input type="text" name="room" class="form-control width100" placeholder="room " ng-model="currentUser.room" value=" " />

          </div>

          <div class="form-group">
            <input type="text" class="form-control" ng-model="currentUser._id" value="{{currentUser._id}}" ng-show="false">
          </div>

          <div class="form-group">
            <button class="btn btn-warning" ng-disabled="currentUser.$invalid" ng-click="Updatecommand(currentUser)">Update</button>
            <button class="btn btn-warning" ng-disabled="currentUser.$invalid" ng-click="insertcommand(currentUser)">Add new</button>
            <button class="btn btn-warning" ng-disabled="currentUser.$invalid" ng-click="cancelMsg(currentUser._id)">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>